@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:regular,700);
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);

$fontfamily: "IBM Plex Mono", monospace;

$color: #1BFF07;

@import "_nullstyle";

@function calcSize($f-min, $f-max, $w-min, $w-max) {
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

body {
	width: 100%;
}

.wraper {
	overflow: hidden;
	min-height: 100%;
	background-color: #000000;
	color: #FFFFFF;
}

.container {
	max-width: 1180px;
	padding: 0px 15px;
	margin: 0 auto;
}

img {
	height: auto;
	max-width: 100%;
}

a,
h1,
h2,
h3,
img,
div,
p {
	letter-spacing: -0.03em;
}

.header {
	position: relative;
	margin-bottom: 151px;
	padding-top: 33px;
	height: 765px;
	width: 100%;
	background: url('../resources/image/me.jpg') 50%/cover no-repeat;

	&__inner {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}

	&__logo {
		margin-top: 3px;
		margin-left: -2px; //pp
		height: 39px;
		width: 130px;
		padding-right: 3px;
		background-color: #000000;
		border-radius: 100px;
		text-align: center;

		& a {
			padding-right: 3px;
			font-weight: 700;
			font-size: 42.4px;
			line-height: 37px;
			letter-spacing: -0.11em;
			text-transform: uppercase;
			color: $color;
		}
	}

	&__menu {}

	&__description {
		position: absolute;
		left: max(15px, calc((100vw - 1165px)/2));
		bottom: 326px;
		max-width: 430px;
		font-size: 20px;
		line-height: 26px;
	}

	&__title {
		position: absolute;
		left: max(15px, calc((100vw - 1177px)/2));
		bottom: 89px;
		max-width: 919px;
		font-size: 80px;
		line-height: 70px;
		color: $color;
		letter-spacing: -0.031em; //pp
	}
}

.menu {

	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px 51px;
		flex-wrap: wrap;
	}

	&__list-item {
		font-size: 18px;
		line-height: 23px;

		&:hover {
			color: $color;
		}
	}
}

.footer {}

.contacts {
	margin-bottom: 150px;
	border-radius: 30px;
	background:#191C19 url('../resources/image/contacts.svg') 100% 50%/contain no-repeat;

	&__title {
		padding-top: 327px;
		padding-bottom: 36px;
		font-size: 35px;
		line-height: 60px;
	}

	&__list {
		font-size: 60px;
		line-height: 60px;

		
	}

	&__list-item {
		padding-bottom: 20px;

		&:last-child {
			padding-bottom: 88px;
		}

		&:hover {
			color: $color;
		}
	}
}

.copyrights {
	background: #FFFFFF;
	border-radius: 30px 30px 0 0;
	color: #000000;
	font-family: Manrope;

	&__title {
		padding-top: 76px;
		padding-bottom: 66px;
		font-size: 22px;
		line-height: 30px;
	}

	&__description {
		padding-bottom: 24px;
		font-size: 20px;
		line-height: 27px;
		opacity: 0.5;
	}
}

.title-a {
	font-size: 55px;
	line-height: 71px;
}

.title-b {
	font-size: 35px;
	line-height: 46px;
}

.description {
	font-size: 22px;
	line-height: 29px;
}

.page {}

.projects {
	margin-bottom: 151px;

	&__title {
		margin-bottom: 40px;
		margin-left: -5px; //pp
	}

	&__list {}

	&__btn {
		margin-top: 80px;
		margin-left: -2px; //pp
		padding-left: 1px; //pp
		display: block;
		height: 153px;
		width: 582px;
		text-align: center;
		background: $color;
		border: 1px solid $color;
		border-radius: 10px;
		font-size: 30px;
		line-height: 149px; //pp
		color: #000000;
		
		&:visited {
			color: #000000;
		}

		&:hover {
			background: #000000;
			color: $color;
		}
	}
}

.project {
	position: relative;

	&__image {
		border-radius: 33px;

		& img {
			max-height: 550px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__title {
		position: absolute;
		bottom: 94px;
		left: 50px;
	}

	&__description {
		position: absolute;
		bottom: 50px;
		left: 50px;
		font-size: 30px;
		line-height: 39px;
	}
}

.competencies {
	margin-bottom: 151px;

	&__title {
		margin-bottom: 104px;
		margin-left: -2px; //pp
	}

	&__list {}
}

.competence {
	position: relative;
	padding-top: 121px;

	&:last-child {
		& h3 {
			max-width: 651px; //pp
		}
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		left: 0;
		top: 61px;
		width: 45px;
		height: 44px;
		border-radius: 10px;
		}

	&:first-child {
		padding-top: 0;

		&:before {
			top: -56px;
			background: $color url('../resources/image/icons/html-css.svg') center/ auto no-repeat;
		}
	}

	&:nth-child(2):before {
		background: $color url('../resources/image/icons/js.svg') center/ auto no-repeat;
	}

	&:nth-child(3):before {
		background: $color url('../resources/image/icons/library.svg') center/ auto no-repeat;
	}

	&:nth-child(4):before {
		background: $color url('../resources/image/icons/adaptive.svg') center/ auto no-repeat;
	}

	&__title {
		margin-bottom: 14px;
		margin-left: -1px; //pp
		color: $color;
	}

	&__description {
		margin-left: -1px; //pp
		max-width: 778px;
	}
}

.services {
	margin-bottom: 150px;
	
	&__title {
		margin-bottom: 74px;
		max-width: 406px;
	}

	&__list {}
}

.service {
	margin-bottom: 74px;

	&:last-child {
		margin-bottom: 0px;

		& p {
			max-width: 724px; //pp
		}
	}

	&:nth-child(2){ 
		margin-bottom: 137px; //pp
	} 

	&__image {
		border-radius: 30px;
	}

	&__card {
		min-height: 283px;
		padding: 40px;
		background: #191C19;
		border-radius: 30px;
	}

	&__title {
		margin-bottom: 15px;
		color: $color;
	}

	&__description {
		max-width: 749px;
	}
}

